.pet-sidebar {
  display: flex;
  height: 100%;
  padding: 20px;

  .pet-list-wrapper {
    width: 500px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    // overflow-y: auto;


    .pet-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 20px;
      gap: 15px;

      .pet-box {
        position: relative;
        background: black;
        border-radius: 20px;

        .pet {
          display: grid;
          place-items: center;
          aspect-ratio: 1 / 1;
          cursor: pointer;

          &:not(.owned) {
            filter: brightness(0);
          }

          &.released {
            filter: brightness(.3);
          }
        }

        .question-mark {
          position: absolute;
          color: rgb(var(--primary));
          font-size: 70px;
          font-weight: bold;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          pointer-events: none;
        }
      }
    }
  }

  .pet-detail {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;


    .pet-wrapper {
      position: relative;
      width: 100%;
      aspect-ratio: 4 / 3;
      display: grid;
      place-items: center;

      .pet {
        transform: scale(3);
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      color: white;
      padding-left: 40px;
      padding-right: 20px;

      .specie {
        font-size: 40px;
        font-weight: bold;
      }

      .description {
        font-size: 18px;
        text-align: justify;
      }
    }

    .functions {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      background: black;
      border-radius: 20px;

      button {
        width: 50px;
        height: 50px;
        background: transparent;
        border-radius: 50%;
        padding: 8px;
        border: none;
        transition: all .3s;

        &:hover {
          transform: scale(1.1);
        }

        img {
          width: 100%;
        }
      }
    }
  }
}